/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.1.2020, 17:45:21
    Author     : tonvi
*/
div {
    font-family: "Times New Roman";
    font-size: 80%;
}

